* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}



.header {
    background-color: #E5E5E5;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left:  auto;
    margin-right: auto;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.logotip {
    background-color:#FFFFFF; 
}


.link {
    color: #333333;
    text-decoration: none;
    
}

.item:last-child {
    margin-right: 0px;
}

.item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;    
}



.tel {
    text-decoration: none;
    line-height: 18px;
    color: #000000;
    margin-right: 40px;
    float: left;
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 16px;
     
}

.button {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 24px 10px 25px;
    background-color: #FFFFFF;
    border-color: #F13C6E;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    border-style: solid;
}

.cont {
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.logo-1 {
    float: left;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-2 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    float: left;
    padding-top: 39px;
    padding-bottom: 39px;
}

.clearfix {
    clear: both;
}

.item-ser {
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}

.link-ser {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.list-ser {
    padding-top: 30px;
    padding-bottom: 30px;
}
.item-ser:last-child {
    margin-right: 0px;
}

.imag {
    background-color: #F13C6E;   
    
}

.container-imag{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    
   
}

.icon {
   
    background-size: contain;
    background-position: center;
    background-image: url('../images/Rectangle2.png');
    background-repeat: no-repeat;
    padding-bottom: 193px;
    padding-top: 186px;
    color: #FFFFFF;
   width: 100%;
}

.subject{
    
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 42px;
    
}

.text {
    line-height: 20px;
    width: 308px;
    margin-bottom: 47px;
}

.but {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 24px 10px 25px;
    background-color: #5f5f5f;
    border: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    border-style: solid;
    border-color: #FFFFFF; 
    letter-spacing: 0.05em;
}


.proposit {
    background-color: #EFEFEF;
    margin-left:  auto;
    margin-right: auto;
}


.conteiner-proposit {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 81px;
}

.title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
}



.card-proposit {
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 30px;
}
.card-proposit:last-child {
    margin-right: 0px;
}

.card {
    background-size: contain;
    background-position: center;
    background-image: url('../images/Rectangle4.png');
    background-repeat: no-repeat;  
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 166px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px;
}

.text-point {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
   
    margin-bottom: 17px;
}
.prop {
    color: #333333;
    width: 195px;
    margin-bottom: 13px;
} 



.pink {
    color: #FFFFFF;
    background-color: #F13C6E;
    letter-spacing: 0.05em;
    border: none;
    padding: 9px 40px 10px 39px ;
}